In [1]:
println(sc.parallelize(1 to 100).reduce(_ + _))

5050

In [1]:
sc.parallelize(1 to 100).reduce(_ + _)

5050

In [2]:
%%pyspark print sc.parallelize(range(1, 101)).reduce(lambda a,b: a+b)

5050

In [3]:
%%sql show tables

+------------------+-----------+
|         tableName|isTemporary|
+------------------+-----------+
|             csvs3|      false|
|      customeruk11|      false|
|      customeruk12|      false|
|    s3_differences|      false|
|s3_differences_csv|      false|
|              test|      false|
|          test_csv|      false|
|       test_csv_s3|      false|
|     test_csv_s3_2|      false|
|         testtable|      false|
+------------------+-----------+

In [4]:
%%sql set

+--------------------+--------------------+
|                 key|               value|
+--------------------+--------------------+
|hive.server2.thri...|                true|
|dfs.namenode.reso...|                5000|
|fs.s3a.connection...|                  15|
|mapreduce.jobtrac...|                  12|
|mapreduce.tasktra...|              600000|
|         fs.s3a.impl|org.apache.hadoop...|
|yarn.app.mapreduc...|                1000|
|mapreduce.input.f...|               false|
|hive.orc.compute....|                  10|
|hive.auto.convert...|               false|
+--------------------+--------------------+
only showing top 10 rows

In [1]:
%%sql
select * from test

+--------------------+
|                line|
+--------------------+
|   # spark-appliance|
|Distributed Spark...|
|                    |
|A lot of our data...|
|                    |
|Since we use AWS ...|
|                    |
|Therefore we can ...|
|                    |
|    ## EMRFS support|
+--------------------+
only showing top 10 rows

In [2]:
%%sql
select count(*) from test

+---+
|_c0|
+---+
|113|
+---+